.main {
  display: flex;
  width: 100%;
}

.card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2d30;
  h1 {
    color: white;
  }
  label {
    color: white;
  }
}

.login-card {
  background-color: rgba(123, 105, 92, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgba(123, 105, 92, 0.2);
  height: 500px;
  width: 400px;
  align-items: center;
  justify-content: space-around;
  h1 {
    color: white;
  }
  label {
    color: white;
  }
  p {
    color: red;
    text-align: center;
  }
}
.column{
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.register-card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #005783;
  h1 {
    color: white;
  }
  label {
    color: white;
  }
  p {
    color: white;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
  .login-card {
    width: 100%;
  }
}
