$body-bg: #f8f8f8;
$secondary: #4682b4;
$body-color: #228b22; // color of the text
$primary: #87ceeb; // Example: Change primary color
$success: #ffe6e6;
$danger: #ff6666;
$border-radius: 0.25rem;
$border-color: $primary;
$border-width: 0.1rem;
