$body-bg: #f8f8f8;
$secondary: #1c1c1c;
$body-color: black; // color of the text
$primary: #fdc231; // Example: Change primary color
$success: #ffe6e6;
$danger: #ff6666;
$border-radius: 0.25rem;
$border-color: $primary;
$border-width: 0.1rem;
