$body-bg: #f8f8f8;
$secondary: #2d4e35;
$body-color: #a3a3a2;
$body-color-dark: #6f6f6f;
$primary: #d1c4a9;
$primary-dark: #8b8064;
$success: #ffe6e6;
$danger: #ff6666;
$border-radius: 0.25rem;
$border-color: $primary;
$border-width: 0.1rem;
$dark: #343a40;
$gradient_secondary: linear-gradient(45deg, #2d4e35, #1b3323);
$gradient_primary: linear-gradient(45deg, #d1c4a9, $primary-dark);
$gradient-dark: linear-gradient(45deg, #343a40, #1d2124);

