@import "./variables.scss";

html, body {
  direction: rtl;
  text-align: right;
}

.btn-danger {
  color: white !important;
  min-width: 100px;
}

.btn-primary {
  color: white !important;
  background-color: $primary !important;
  width: 100% !important;
  border: 1px solid $primary !important;
  height: 50px;
  direction: rtl;
}

.btn-primary:hover {
  color: white !important;
  border-color: $primary-dark !important;
  background-color: $primary-dark !important;
}

.btn-secondary {
  color: white !important;
  background-color: $secondary !important;
  min-width: 100px;
  border: 1px solid $secondary !important;
}

.btn-secondary:hover {
  color: white !important;
  background-color: $secondary-light !important;
  border: 1px solid $secondary-light !important;
}

.btn-info {
  color: white !important;
  background-color: $body-color !important;
  min-width: 100px;
  border: 1px solid $body-color !important;
}

.btn-info:hover {
  color: white !important;
  background-color: $body-color-dark !important;
  border: 1px solid $body-color-dark !important;
}

.btn-warning {
  min-width: 70px;
}

.btn-success {
  background-color: #acacad !important;
  border-color: #acacad !important;
  min-width: 70px;
}


body {
  background-color: $body-bg;
  color: $body-color;
}

input {
  color: $body-color-dark !important;
}

@import "~bootstrap/scss/bootstrap";

html,
body,
#__next {
  height: 100vh;
  margin: 0;
  padding: 0;
}
