/* NavBar.module.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "../../styles/_variables.scss";

.navbar {
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  background-color: $secondary !important;
}

.navbarContainer {
  display: flex;
  justify-content: flex-end; /* Align the content to the right */
  flex-direction: row-reverse; /* Ensure links start from the right in RTL */
  width: 100%;
}

.navLink {
  color: #c9c1c1;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  text-align: right; /* Ensure the text is right-aligned */
}

.navLink:hover {
  color: $primary;
}

.active {
  color: $primary;
  font-weight: bold;
}

.offcanvas {
  background-color: $secondary !important; // Light background color
  color: #c9c1c1; // Dark text color
  width: 500px;

  &.show {
    .offcanvas-header {
      border-bottom: 1px solid #e9ecef; // Add a bottom border for separation
      display: flex; // Use flex to control alignment
      justify-content: space-between; // Space out items
      align-items: end; // Center items vertically
      flex: 1;
    }

    .offcanvas-body {
      padding: 1.5rem; // Adjust body padding
      overflow-y: auto; // Allow scrolling if content overflows
      max-height: calc(100vh - 56px); // Make it responsive to view height
      align-items: center; // Center items vertically
      justify-content: flex-start;
    }

    .nav-link {
      color: #007bff; // Default link color
      font-weight: 500; // Slightly bolder links
      padding: 0.5rem 1rem; // Add padding for better click area
      transition: background-color 0.2s ease, color 0.2s ease; // Smooth transitions

      &:hover {
        background-color: #e9ecef; // Light hover effect
        color: #0056b3; // Darker link color on hover
      }

      &.active {
        font-weight: bold; // Make active links bolder
        color: #0056b3; // Different color for active link
      }
    }

    .close-btn {
      color: #343a40; // Close button color
      transition: color 0.2s ease;

      &:hover {
        color: #dc3545; // Red color on hover
      }
    }
  }
}

.bs-btn-close {
  padding: 1rem 1.5rem;
}
