@import "../../styles/variables";

.titleTable {
  margin-bottom: 2em;
}

.taken-row {
  background-color: lightyellow !important;
}

.badge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.full-row {
  background: lightcoral !important;
}
